[Unit]
Description=spring boot daemon
After=network.target

[Service]
User={{dbuser}}
Group={{appgroup}}
WorkingDirectory={{service.workingdir}}
ExecStart={{service.execstart}}

[Install]
WantedBy=multi-user.target